<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510914087054-gsksdrol92ri300vpfad3ttn34hj3fnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510914087054-gsksdrol92ri300vpfad3ttn34hj3fnt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510914087054-udbdeaoqcv1qbugn1e2cvdq7uo3ki4kc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwVHO-o-suZ1-w1cvG1CdmH1oM6hlm0Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>510914087054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safatech.doctormeshalapp</string>
	<key>PROJECT_ID</key>
	<string>dr-meshal</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-meshal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510914087054:ios:2b8dfbb2d989433d85a1df</string>
</dict>
</plist>